<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:min-height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task 3</title>
    <link th:insert="~{head.html}">
</head>
<body>
    <div th:insert="~{navbar.html}"></div>
    <div class="container" style="min-height: 600px;">
        <!-- Основная область -->
        <div layout:fragment = "mainContent"></div>
    </div>
    <div th:insert="~{footer.html}"></div>
</body>
</html>